@{
    ViewBag.Title = "About";
}

<style>
    body {
        background-color: antiquewhite;
        color: #326487;
    }

    h2 {
        color: #F4623A;
    }


</style>

<br /><br /><br /><br /><br />

                        <div style="margin:0 100px;">
                            <h2>Nosotros</h2>

                            <p style="width:30%">Somos una marketplace de alquiler de departamentos que ayuda a las personas a encontrar su nueva morada al mejor precio del mercado.</p>

                            <h2>Mision</h2>

                            <p style="width:30%">
                                Ser la mejor plataforma de alquiler de departamentos y que contribuya al desarrollo económico y ambiental del país.
                            </p>
                        </div>