
@{
    ViewBag.Title = "Aviso";
}

<br /><br /><br /><br /><br /><br />

<h2>Aviso!</h2>

<p>Sr(a). , usted no cuenta con una membresía, por favor adquiera una.</p>

@Html.ActionLink("Obtener Membresía", "Membresía", "Membresia", "", htmlAttributes: new { @class = "btn btn-lg btn-success" } )
